---
apiVersion: longhorn.io/v1beta1
kind: RecurringJob
metadata:
  name: "daily-backup"
spec:
  cron: "0 4 * * *" # 4am daily
  task: "backup"
  groups:
    - default
  retain: 2
  concurrency: 2
  labels:
    interval: daily
