---
apiVersion: longhorn.io/v1beta1
kind: RecurringJob
metadata:
  name: "daily-backup"
spec:
  cron: "0 4 * * *" # 4am daily
  task: "backup"
  groups:
    - default
  retain: 2
  concurrency: 2
  labels:
    interval: daily
---
apiVersion: longhorn.io/v1beta1
kind: RecurringJob
metadata:
  name: daily-trim
  namespace: longhorn-system
spec:
  cron: "0 7 * * *" # 7am daily
  task: filesystem-trim
  retain: 1
  concurrency: 1
  groups:
    - downloader
