---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: onepassword
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://1password.github.io/connect-helm-charts
      chart: connect
      version: 1.15.0
      sourceRef:
        kind: HelmRepository
        name: 1password-charts
        namespace: flux-system
      interval: 5m
  values:
    namespace: external-secrets
    connect:
      credentialsName: onepassword-connect-secret
      credentialsKey: 1password-credentials.json
    operator:
      create: false
    serviceType: ClusterIP
